body {
    padding-top: 70px;
}

.navbar-brand {
    font-weight: bold;
}

#launch-env {
    margin: 100px;
    font-size: large;
}

small {
    margin-left: 10px;
}

h1 {
    margin-bottom: 40px;
}

#home-header {
    margin-bottom: 20px !important;
}
