{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Assignment List
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'assignments.create' %}" role="button">Create</a>
        </div>
    </h1>

    <table class="table table-hover">
        <tr>
            <th>Assignment Name</th>
            <th>Assignment Description</th>
            <th>Assignment Start Date</th>
            <th>Assignment End Date</th>
            <th>Course</th>

        </tr>
        {% for assignments in object_list %}
            <tr>
                <td>{{ assignment.name }}</td>
                <td>{{ assignment.description }}</td>
                <td>{{ assignment.start_date }}</td>
                <td>{{ assignment.end_date }}</td>
                <td>{{ assignment.course}}</td>
                <td>
                    {% url 'assignments.update' pk=assignment.id as url %}
                    {% bootstrap_button button_type='link' content='Edit' button_class='btn-warning' href=url %}
                    {% url 'assignments.delete' pk=assignment.id as url %}
                    {% bootstrap_button button_type='link' content='Delete' button_class='btn-danger' href=url %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
