{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Update Assignment: {{ assignments.name }}</h1>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="pull-right">
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "ok" %} Update
                </button>
                <a href="{% url "assignments" %}" class="btn btn-default">
                    {% bootstrap_icon "chevron-left" %} Back
                </a>
            {% endbuttons %}
        </div>
    </form>
{% endblock %}