{% extends "master.html" %}

{% load bootstrap3 %}
{% block content %}
    <h1>Remove Assignment: {{ assignment.name }}</h1>

    <form action="" method="post" class="form">
        {% csrf_token %}
        <p>Are you sure you want to delete environment definition: {{ object }}?</p>

        {% bootstrap_alert dismissable=False alert_type='warning' content='Deleting environment definition will also delete all assignments using it.' %}
        {% buttons %}
            <button type="submit" class="btn btn-danger pull-right">
                {% bootstrap_icon "remove" %} Delete irreversibly
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
