{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Assignment: {{ assignment.name }}
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'assignments' %}" role="button">Back
                {% bootstrap_icon "remove" %}</a>
        </div>
    </h1>
    {% if user in assignment.course.students.all %}
        <div class="text-center">
            <a class="btn btn-primary" href="" role="button">Launch</a>
        </div>
    {% endif %}
    {% if assignment.course.instructor == user %}
        <p class="lead">This is a list of all environments created by your students.</p>
        {% if assignment.environments.all %}
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Student</th>
                    <th></th>
                </tr>

                {% for e in assignment.environments.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ e.user }}</td>
                        <td><a class="btn btn-default" href="{% url "environments.detail" e.id %}">Enter Environment</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No environments exist yet.
        {% endif %}
    {% endif %}
{% endblock %}

