{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Assignment List
        {% if user.is_instructor %}
            <div class="pull-right">
                <a class="btn btn-primary" href="{% url 'assignments.create' %}" role="button">
                    {% bootstrap_icon "plus" %} Create Assignment</a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseText"
                        aria-expanded="false" aria-controls="collapseText">
                    {% bootstrap_icon "question-sign" %} Help
                </button>
            </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="collapse" id="collapseText">
                                <div class="well well-sm">
                                    {% if user.is_instructor %}
                                        <h5><p>As an instructor, you are tasked to create a VCL Assignment for each assignment
                                            on the course website that requires a student to utilize a virtual environment to complete.
                                            Each VCL Assignment will be assigned to one Course, and they will become available to the
                                            students in that Course upon the "Start Date" specified. The Assignment will close and all
                                            associate Environments will be terminated upon the "End Date".</p><p>Click "Create Assignment" to
                                            do this, but first you must ensure that a Course and Environment definition have been created
                                            so that they can be assigned to the Assignment.</p>
                                        </h5>
                                    {% else %}
                                        <h5>On this page you will see a list of VCL assignments that correspond to assignments
                                            given by your instructor in Drexel Learn. A VCL assignment provides you with a virtual
                                            environment to work in until the due date of that assignment. <br> Click on the VCL
                                            assignment name to view the details of an existing environment or to create a new one.
                                        </h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </h1>

    {% if assignment_list %}
        <table class="table table-hover">
            <tr>
                <th>Course</th>
                <th>Name</th>
                <th>Description</th>
                <th>Dates Available</th>
                {% if assignment.course.instructor == user %}
                    <th></th>
                {% endif %}
                <th></th> <!-- This extends the top table line to the far right -->
            </tr>
            {% for assignment in assignment_list %}
                <tr>
                    <td><a href="{% url "courses.detail" assignment.course.id %}">{{ assignment.course.name }}</a></td>
                    <td><a href="{% url "assignments.detail" assignment.id %}">{{ assignment.name }}</a></td>
                    <td>{{ assignment.description | truncatewords:20 }}</td>
                    <td>{{ assignment.start_date }} - {{ assignment.end_date }}
                        {% if not assignment.is_current %}
                            <br/><span class="label label-default">CURRENTLY HIDDEN FROM STUDENTS</span>
                        {% endif %}
                    </td>
                    {% if assignment.course.instructor == user %}
                        <td>
                            {% url 'assignments.update' pk=assignment.id as url %}
                            {% bootstrap_button button_type='link' content='Edit' button_class='btn-warning' href=url %}

                            {% url 'assignments.delete' pk=assignment.id as url %}
                            {% bootstrap_button button_type='link' content='Delete' button_class='btn-danger' href=url %}
                            {% url 'assignments.update' pk=assignment.id as url %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No assignments available.</p>
    {% endif %}
{% endblock %}
