{% extends "master.html" %}
{% load bootstrap3 %}

{% block title %}{{ assignment.name }} - Cloud VCL{% endblock %}
{% block content %}
    <h1>{{ assignment }}
        <small>{{ assignment.course }}</small>
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'assignments' %}" role="button">
                {% bootstrap_icon "chevron-left" %} Back
            </a>
            {% if assignment.course.instructor == user %}
                <a class="btn btn-warning" href="{% url 'assignments.update' pk=assignment.id %}" role="button">
                    {% bootstrap_icon "pencil" %} Update Assignment
                </a>
                <a class="btn btn-primary" href="{% url 'envdefs.detail' pk=assignment.environment_definition.id %}"
                   role="button">
                    {% bootstrap_icon "chevron-right" %} Environment Definition
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseText"
                        aria-expanded="false" aria-controls="collapseText">
                    {% bootstrap_icon "question-sign" %} Help
                </button>
                </div></h1>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="collapse" id="collapseText">
                                <div class="well well-sm">
                                    {% if user.is_instructor %}
                                        <p>As an instructor, you will see a list of all Environments and their creators
                                            for this Assignment. You can terminate them or enter them (simultaneously if necessary)
                                            to view the work that the creator/student has done or is currently doing.</p><p>
                                            You can also spawn a fresh instance of the Environment yourself and it will be loaded
                                            in another tab of your web browser.</p>
                                    {% else %}
                                        <p>Here you can launch a new Environment to work in to complete this Assignment. The environment
                                            will load on a new tab in your browser and it will provide one or more Virtual Machines to work
                                            with. You can access your Environment and corresponding VMs until the Assignment's due date.
                                            You can also terminate the Environment (and corresponding VMs) and create a new one as many times
                                            as you'd like.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

    <p>{{ assignment.description }}</p>

    {% if user in assignment.course.students.all %}
        {% if environment %}
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'environments.detail' pk=environment.id %}" role="button">
                    Enter your environment</a>
                <a class="btn btn-danger" href="{% url 'environments.delete' pk=environment.id %}" role="button">
                    Delete your environment</a>
            </div>
        {% else %}
            <div class="text-center">
                <form action="{% url 'assignments.launch' assignment.id %}" method="post">
                    {% csrf_token %}
                    <button id="launch-env" type="submit" class="btn btn-success">Launch a new environment for this
                        assignment
                    </button>
                </form>
            </div>
        {% endif %}
    {% else %}
        <p class="text-center">
            You can see this assignment but you cannot launch your environment.
            Add yourself to course {{ assignment.course }} as a student to be able to launch an environment for it.
            <a class="btn btn-warning" href="{% url 'courses.update' pk=assignment.course.id %}" role="button">
                {% bootstrap_icon "pencil" %} Edit this course</a>
        </p>
    {% endif %}

    {% if assignment.course.instructor == user %}
        <h2>List of students' environments</h2>
        {% if assignment.environments.all %}
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Student</th>
                    <th></th>
                </tr>

                {% for e in assignment.environments.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ e.user }}</td>
                        <td><a class="btn btn-default" href="{% url "environments.detail" e.id %}">Enter Environment</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No environments exist yet.
        {% endif %}
    {% endif %}
{% endblock %}
