{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>{{ course }}
        <small>Instructor: {{ course.instructor }}</small>
        <span class="pull-right">
                <a href="{% url "courses" %}" class="btn btn-default">
                    {% bootstrap_icon "chevron-left" %} Back
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseText"
                        aria-expanded="false" aria-controls="collapseText">
                    {% bootstrap_icon "question-sign" %} Help
                </button>
        </span>
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="collapse" id="collapseText">
                    <div class="well well-sm">
                        {% if user.is_instructor %}
                            <p>On this page, you can view, edit, or delete expired, current, and upcoming Assignments
                                for this Course. You can also individually add/remove students to/from the Course or add
                                multiple students at a time by uploading a .CSV file.</p>
                        {% else %}
                            <p>Here you can see the current and upcoming assignments for this Course. Click on the name
                                of an Assignment to view it's details.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if assignment.course.instructor == user %}
        <a href="{% url "courses.delete" pk=course.id %}" class="btn btn-danger">
            {% bootstrap_icon "trash" %} Delete course
        </a>
    {% endif %}

    <h2>Assignment List
        {% if assignment.course.instructor == user %}
            <div class="pull-right">
                <a class="btn btn-primary" href="{% url 'assignments.create' %}" role="button">
                    {% bootstrap_icon "plus" %} Create Assignment</a>
            </div>
        {% endif %}
    </h2>

    {% if course.current_assignments or course.instructor == user and course.assignments.all %}
        <table class="table table-hover">
            <tr>
                <th>Assignment Name</th>
                <th>Description</th>
                <th>Dates Available</th>
                {% if course.instructor == user %}
                    <th></th>
                {% endif %}
            </tr>
            {% for assignment in course.assignments.all %}
                {% if course.instructor == user or assignment.is_current %}
                    <tr>
                        <td><a class="text-nowrap"
                               href="{% url "assignments.detail" assignment.id %}">{{ assignment.name }}</a></td>
                        <td>{{ assignment.description }}</td>
                        <td>{{ assignment.start_date }} - {{ assignment.end_date }}
                            {% if not assignment.is_current %}
                                <br/><span class="label label-default">CURRENTLY HIDDEN FROM STUDENTS</span>
                            {% endif %}
                        </td>
                        {% if assignment.course.instructor == user %}
                            <td>
                                {% url 'assignments.update' pk=assignment.id as url %}
                                {% bootstrap_button button_type='link' content='Edit' button_class='btn-warning' href=url %}

                                {% url 'assignments.delete' pk=assignment.id as url %}
                                {% bootstrap_button button_type='link' content='Delete' button_class='btn-danger' href=url %}
                                {% url 'assignments.update' pk=assignment.id as url %}
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>No assignments available.</p>
    {% endif %}

    {% if course.instructor == user %}
        <h2>Students in this course
            <span class="pull-right">
                <a href="{% url "courses.add_students" pk=course.id %}" class="btn btn-success">
                    {% bootstrap_icon "upload" %} Add Students</a>
            </span>
        </h2>

        <table class="table table-hover">
            <tr>
                <th>Student</th>
            </tr>
            {% if course.students.all %}
                {% for student in course.students.all %}
                    <tr>
                        <td>{{ student }}
                            <span class="pull-right">
                                <a href="{% url "courses.remove_student" pk=course.id student_pk=student.id %}"
                                   class="btn btn-danger">
                                    {% bootstrap_icon "remove" %} Remove {{ student.first_name }} from course
                                </a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                No students to display in this course.
            {% endif %}
        </table>
    {% endif %}
{% endblock %}
