{% extends "master.html" %}
{% load bootstrap3 %}

{% block title %}Courses - Cloud VCL{% endblock %}
{% block content %}
    <h1>Course List
        {% if user.is_instructor %}
            <div class="pull-right">
                <a class="btn btn-primary" href="{% url 'courses.create' %}" role="button">
                    {% bootstrap_icon "plus" %} Create Course</a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseText"
                    aria-expanded="false" aria-controls="collapseText">
                {% bootstrap_icon "question-sign" %} Help
            </button>
            </div></h1>
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="collapse" id="collapseText">
                                <div class="well well-sm">
                                    {% if user.is_instructor %}
                                        <p>As an instructor, you are responsible for managing the courses you instruct. Create
                                            a VCL Course and add students (that are enrolled on the course website) to that
                                            VCL Course.</p><p>Click "Create Course" to create a new Course and add students to that
                                            Course. Click on a Course title to view active Assignments for that Course or to add/remove
                                            students in that Course.</p>
                                    {% else %}
                                        <p>Here you can view the Courses that you are currently enrolled as well as the
                                            current and upcoming Assignments associated with that Course. To do so, click on a
                                            Course name.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}

    {% if course_list %}
        <table class="table table-hover">
            <tr>
                <th>Course Name</th>
            </tr>
            {% for course in course_list %}
                <tr>
                    <td><a class="text-nowrap" href="{% url "courses.detail" course.id %}">{{ course.name }}</a>
                        {% if course.instructor == user %}
                            <div class="pull-right">
                                {% url 'courses.update' pk=course.id as url %}
                                {% bootstrap_button button_type='link' content='Edit' button_class='btn-warning' href=url %}
                                {% url 'courses.delete' pk=course.id as url %}
                                {% bootstrap_button button_type='link' content='Delete' button_class='btn-danger' href=url %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no courses to show.</p>
    {% endif %}
{% endblock %}
