{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Course: {{ course.name }}
        <div class="pull-right">
            {% buttons %}
                {% url 'courses.update' pk=course.id as url %}
                {% bootstrap_button button_type='link' content='Add Students (Edit)' button_class='btn btn-warning' href=url %}

                <a href="{% url "courses" %}" class="btn btn-default">
                    {% bootstrap_icon "chevron-left" %} Back
                </a>
            {% endbuttons %}
        </div>
    </h1>

    {% if course.instructor == user %}
        <p class="lead">This is a list of all students in this course:</p>
        <table class="table table-hover">
            <tr>
                <th>Student username</th>
            </tr>
            {% if course.students.all %}
                {% for student in course.students.all %}
                    <tr>
                        <td>{{ student.username }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                No students to display in this course.
            {% endif %}
        </table>
    {% endif %}
{% endblock %}