{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Remove Environment #{{ environment }}</h1>

    <form action="" method="post" class="form">
        {% csrf_token %}
        <p>Are you sure you want to delete environment for assignment {{ environment.assignment }} in
            course {{ environment.assignment.course }}?</p>
        {% bootstrap_alert dismissable=False alert_type='danger' content='Deleting environment will also delete all your virtual machines.' %}
        <div class="pull-right">
            {% buttons %}
                <button type="submit" class="btn btn-danger">
                    {% bootstrap_icon "remove" %} Delete irreversibly
                </button>
                <a href="{% url "environments.detail" pk=environment.id %}" class="btn btn-default">
                    {% bootstrap_icon "chevron-left" %} Back
                </a>
            {% endbuttons %}
        </div>
    </form>
{% endblock %}
