{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>{{ environment.user.username }}'s environment for {{ environment.assignment.name }}
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'assignments.detail' pk=environment.assignment.id %}" role="button">
                {% bootstrap_icon "chevron-left" %} Back
            </a>
            {% url 'environments.delete' pk=environment.id as url %}
            {% bootstrap_button button_type='link' content='Delete environment' button_class='btn-danger' href=url %}
        </div>
    </h1>

    <ul class="nav nav-tabs">
        {% for vm in environment.vms.all %}
            {% url 'environments.detail' pk=environment.id uuid=vm.uuid as url %}
            <li role="presentation" {% if url in request.path %}class="active"{% endif %}>
                <a href="{{ url }}">{{ vm.name }} ({{ vm.status }})</a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        <li>Image: {{ vm.vm_definition.image.name }}</li>
        <li>IP Address: {{ vm.ip_address }}</li>
        <li>Username: {{ vm.username }}</li>
        <li>Password: {{ vm.password }}</li>
    </ul>

    <iframe id="console_embed" src="{{ vm.get_vnc.url }}" style="width: 100%; height: 638px;"></iframe>

{% endblock %}
