{% extends "master.html" %}
{% load bootstrap3 %}

{% block title %}{{ environment_definition.name }} - Cloud VCL{% endblock %}
{% block content %}
    <h1>Environment Definition: {{ environment_definition.name }}
        <span class="pull-right">
            <a class="btn btn-warning" href="{% url 'envdefs.update' environment_definition.id %}" role="button">
                {% bootstrap_icon "pencil" %} Update Environment Name</a>
            <a class="btn btn-primary" href="{% url 'envdefs.createvmdef' environment_definition.id %}" role="button">
                {% bootstrap_icon "plus" %} Create VM Definition</a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseText"
                    aria-expanded="false" aria-controls="collapseText">
                {% bootstrap_icon "question-sign" %} Help
            </button>
        </span>
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="collapse" id="collapseText">
                    <div class="well well-sm">
                        <p>Here you can view the Virtual Machine Definitions that have been created for this
                            defined Environment or create new ones by click "Create VM Definition". These VM
                            Definitions will be used to load Virtual Machines into this Environment once it has
                            been launched for it's corresponding Assignment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="lead">Students spawning an environment from this environment definition will receive the following
        VMs:</p>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Flavor</th>
            <th>Action</th>
        </tr>
        {% for vmd in vm_definitions %}
            <tr>
                <td>{{ vmd.name }}</td>
                <td>{{ vmd.image.name }}</td>
                <td>{{ vmd.flavor.name }}</td>
                <td>
                    {% url 'vmdef.update' pk=vmd.id as url %}
                    {% bootstrap_button button_type='link' content='Edit' button_class='btn-warning' href=url %}
                    {% url 'vmdef.delete' pk=vmd.id as url %}
                    {% bootstrap_button button_type='link' content='Delete' button_class='btn-danger' href=url %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
