{% extends "master.html" %}
{% load bootstrap3 %}

{% block title %}{{ environment_definition.name }} - Cloud VCL{% endblock %}
{% block content %}
    <h1>Remove Environment Definition: {{ environment_definition }}</h1>

    <form method="post" class="form">
        {% csrf_token %}
        <p>Are you sure you want to delete environment definition: {{ environment_definition }}?</p>
        {% bootstrap_alert dismissable=False alert_type='warning' content='Deleting environment definition will also delete all assignments using it.' %}
        <div class="pull-right">
            {% buttons %}
                <button type="submit" class="btn btn-danger">
                    {% bootstrap_icon "remove" %} Delete irreversibly
                </button>
                <a href="{% url "envdefs" %}" class="btn btn-default">
                    {% bootstrap_icon "chevron-left" %} Back
                </a>
            {% endbuttons %}
        </div>
    </form>
{% endblock %}
