{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>{{ environment.assignment.name }}
        <small>{{ environment.user }}'s environment</small>
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'assignments.detail' pk=environment.assignment.id %}" role="button">
                {% bootstrap_icon "chevron-left" %} Back
            </a>
            <a class="btn btn-danger" href="{% url 'environments.delete' pk=environment.id %}" role="button">
                {% bootstrap_icon "trash" %} Delete Environment
            </a>
        </div>
    </h1>

    <p>
        <strong>Environment created on</strong> {{ environment.created_at }}
        <strong>Assignment ends on</strong> {{ environment.assignment.end_date }}
        <strong>Your VMs will be deleted in {{ environment.assignment.end_date|timeuntil }}!</strong>
    </p>

    <ul class="nav nav-tabs">
        {% for vm in environment.vms.all %}
            {% url 'environments.detail' pk=environment.id uuid=vm.uuid as url %}
            <li role="presentation" {% if url in request.path %}class="active"{% endif %}>
                <a href="{{ url }}">{{ vm.name }} ({{ vm.status }})</a>
            </li>
        {% endfor %}
    </ul>

    {% if vm %}
        <div class="alert alert-info alert-border">
            <ul class="list-inline">
                <li>Image: <strong>{{ vm.vm_definition.image.name }}</strong></li>
                <li>IP Address: <strong>{{ vm.ip_address }}</strong></li>
                <li>Username: <strong>{{ vm.username }}</strong></li>
                <li>Password: <strong>{{ vm.password }}</strong></li>
            </ul>
        </div>

        {% if vnc %}
            <p class="small">Please note: CTRL+C/CTRL+V (clipboard) does NOT work in this console.
                <a class="btn btn-default btn-xs" target="_blank" href="{{ vnc.url }}">Open console in full screen mode</a></p>
            <iframe id="console_embed" src="{{ vnc.url }}" style="width: 100%; height: 638px;"></iframe>
        {% else %}
            <div class="alert alert-danger alert-border">
                There was a problem loading console for your VM. Please try refreshing this page.<br/>
                If the problem persists, contact your instructor {{ environment.assignment.course.instructor }} for
                help.
            </div>
        {% endif %}
    {% else %}
        This environment is empty. Contact your instructor: {{ environment.assignment.course.instructor }}
    {% endif %}
{% endblock %}
