{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Environment Definition List
        <div class="pull-right">
            <a class="btn btn-primary" href="{% url 'envdefs.create' %}" role="button">Create</a>
        </div>
    </h1>

    <table class="table table-hover">
        <tr>
            <th>Environment Name</th>
            <th>Actions</th>
        </tr>
        {% for ed in environmentdefinition_list %}
            <tr>
                <td><a href="{% url "envdefs.detail" ed.id %}">{{ ed.name }}</a></td>
                <td>
                    {% url 'envdefs.update' pk=ed.id as url %}
                    {% bootstrap_button button_type='link' content='Edit' button_class='btn-warning' href=url %}
                    {% url 'envdefs.delete' pk=ed.id as url %}
                    {% bootstrap_button button_type='link' content='Delete' button_class='btn-danger' href=url %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
