{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Create Environment Definition</h1>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="pull-right">
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "ok" %} Submit
                </button>
                <a href="{% url "envdefs" %}" class="btn btn-default">
                    {% bootstrap_icon "remove" %} Back
                </a>
            {% endbuttons %}
        </div>
    </form>
{% endblock %}
