{% extends "master.html" %}

{% block content %}
    <h1>Welcome to Cloud VCL</h1>

    <p>
        You have entered the Virtual Computing Lab (VCL). Navigate to the following pages to start working.
    </p>

    {% if user.is_instructor %}
        <div class="alert alert-border alert-info alert-block" role="alert">
            <p>
                <strong>You're an instructor!</strong> Here are your quotas:
            </p>
            <ul class="list-inline">
                <li>Instance count: {{ user.limit_instances }}</li>
                <li>CPU count: {{ user.limit_cpus }}</li>
                <li>Total RAM: {{ user.limit_ram|filesizeformat }}</li>
            </ul>
            <p>
                A reminder: your quota is shared among all your students in all your courses.
            </p>
        </div>

        <h4>Assignments</h4>
        <p>
            Go here to view assignments that have been started by your students. From here you will be able to view and
            manage the virtual environments that they've created
            for each assignment.
        </p>

        <h4>Courses</h4>
        <p>
            Go here to view the details of courses that you are instructing, such as the list of students and active
            assignments.
        </p>

        <h4>Environments Definitions</h4>
        <p>
            Go here to define the name, image, and flavor for virtual environments that virtual machines will spawn
            from.
        </p>
    {% else %}
        <h4>Assignments</h4>
        <p>
            Go here to view your current assignments. Before their end date, you will be able to launch a virtual
            environment for each assignment, allowing you to work with
            virtual machines to complete that assignment.
        </p>

        <h4>Courses</h4>
        <p>
            Go here to view the details of courses that you're enrolled in.
        </p>
    {% endif %}

{% endblock %}