{% extends "master.html" %}

{% block content %}
    <h1>VCL User TESt</h1>

    <p>Welcome to <em>VCL</em>, Just running a basic test to see I can render model data</p>

    <h2>Dynamic content</h2>

    <p>The library has the following record counts:</p>
    <!-- <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul> -->

{% endblock %}