<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}<title>Cloud VCL</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap3 %}
    {% bootstrap_css %}

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Cloud VCL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% url 'assignments' as url %}
                <li {% if url in request.path %}class="active"{% endif %}><a
                        href="{% url 'assignments' %}">Assignments</a></li>
                {% url 'courses' as url %}
                <li {% if url in request.path %}class="active"{% endif %}><a href="{% url 'courses' %}">Courses</a></li>
                {% if user.is_instructor %}
                    {% url 'envdefs' as url %}
                    <li {% if url in request.path %}class="active"{% endif %}><a href="{% url 'envdefs' %}">Environment
                        Definitions</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Logged in as <strong>{{ user.get_username }}</strong></a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    {% bootstrap_messages %}
    {% block content %}{% endblock %}

</div> <!-- /container -->

{% bootstrap_javascript jquery=1 %}
</body>
</html>