{% extends "master.html" %}
{% load bootstrap3 %}
{% block content %}

    <h2>Upload CSV File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <fieldset class="control-group">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                </div>

            </fieldset>
        {% endfor %}

        <br>
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "file" %} Submit File
            </button>
        {% endbuttons %}
    </form>






{% endblock %}
