{% extends "master.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Remove VM Definition: {{ vmdefinition.name }}</h1>

    <form action="" method="post" class="form">
        {% csrf_token %}
        <p>Are you sure you want to delete VM Definition: {{ vmdefinition.name }}?</p>

        {% bootstrap_alert dismissable=False alert_type='warning' content='Deleting VM Definition.' %}
        {% buttons %}
            <button type="submit" class="btn btn-danger pull-right">
                {% bootstrap_icon "remove" %} Delete irreversibly
            </button>
        {% endbuttons %}
    </form>
{% endblock %}