{% extends "master.html" %}
{% load bootstrap3 %}

{% block title %}{{ vmdefinition.name }} - Cloud VCL{% endblock %}
{% block content %}
    <h1>Remove VM Definition: {{ vmdefinition.name }}</h1>

    <form method="post" class="form">
        {% csrf_token %}
        <p>Are you sure you want to delete VM Definition: {{ vmdefinition.name }}?</p>
        {% bootstrap_alert dismissable=False alert_type='warning' content='If there exist environments using this VM definition, those VMs will be deleted now.' %}
        <div class="pull-right">
            {% buttons %}
                <button type="submit" class="btn btn-danger">
                    {% bootstrap_icon "remove" %} Delete irreversibly
                </button>
                <a href="{% url "envdefs.detail" vmdefinition.environment.id %}" class="btn btn-default">
                    {% bootstrap_icon "chevron-left" %} Back
                </a>
            {% endbuttons %}
        </div>
    </form>
{% endblock %}